@import "tailwindcss";
@tailwind utilities;


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Alinore';
  src: url('/font/Alinore.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-attachment: fixed;
  background-image: url('/Group.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}